body {
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
}

h1, h2, h3, p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  margin: auto;
  margin-top: 15px;
}
